/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body{
    color: #1b1b1b;
    background-color: #efefef;
    font-size: 30px;
}

.headers-1 {
color: #252525;
text-align: center;
font-family:'Courier New', Courier, monospace;
}


.hero-banners {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 80%


}
footer {
    background-color: rgb(0, 46, 5);
    color: rgb(192, 166, 20);
    padding: 20px;
    text-align: center;
}