/* Place CSS styles here */
html {
    box-sizing: border-box;
}

div{

}

body{
    color: #000000;
    font-size: 30px;
    flex-direction: row;
}

.row3{
    display:flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%
}

main{
    display: flex;
}

.row3 p {
    background-color: aqua;
    padding: 25px;

}

.sidebar{
    justify-content: left;
    background-color: rgb(118, 44, 44);
    padding: 10px;
}